<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/var/log/sprint-planning/sprint-planning.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<FileNamePattern>file.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
			<!-- keep 30 days' worth of history -->
			<MaxHistory>30</MaxHistory>
			<!-- or whenever the file size reaches 10MB -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>